* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --dark-blue: hsl(210, 100%, 20%);
    --light-blue: hsl(210, 100%, 90%);
    --accent-blue: hsl(200, 100%, 60%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --light-gray: hsl(0, 0%, 90%);
    --gradient-start: hsl(200, 100%, 80%);
    --gradient-end: hsl(200, 100%, 40%);
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
}

.container {
    width: 90%;
    max-width: 450px;
    margin-top: 2rem;
}

.wrapper .container h1 {
    color: var(--black);
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.pass-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(135deg, var(--light-blue), var(--white));
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--dark-blue);
    margin: 1rem 0;
    padding-top: 0.35rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.pass {
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: var(--black);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border: none;
}

.pass::placeholder {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--black);
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.copyBtn {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.att-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid var(--dark-blue);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.att-len {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.att-len div:nth-child(1) {
    color: var(--black);
    font-size: 1.5rem;
}

.att-len div:nth-child(2) {
    color: var(--accent-blue);
    font-size: 1.5rem;
}

.checks {
    list-style-type: none;
}

.checks-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 1rem 0;
    padding-top: 0.25rem;
}

.str-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.str-text {
    color: var(--black);
    font-size: 1.5rem;
}

.str-container div:nth-child(2) {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateButton {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background: linear-gradient(135deg, var(--accent-blue), var(--dark-blue));
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--accent-blue);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--white);
    font-weight: 600;
    font-size: 1.25rem;
    transition: background 0.3s, color 0.3s;
}

.generateButton:hover {
    background: linear-gradient(135deg, var(--dark-blue), var(--accent-blue));
    color: var(--black);
}

.check {
    appearance: none;
    width: 20px;
    position: relative;
    height: 20px;
    border: 1px solid var(--accent-blue);
    cursor: pointer;
    border-radius: 0.35rem;
}

.check:checked {
    background-color: var(--accent-blue);
}

.check:checked::after {
    content: '✔';
    position: absolute;
    color: var(--white);
    font-size: 1.05rem;
    font-weight: 600;
    align-self: center;
    justify-self: center;
    bottom: 1px;
}

.check-text {
    color: var(--black);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.slider {
    appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: var(--light-blue);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(var(--dark-blue), var(--dark-blue));
    background-repeat: none;
    border: none;
    outline: none;
}

.slider::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--accent-blue);
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    transition: background-color 100ms ease-in, box-shadow 100ms ease-in;
}

.slider:focus {
    outline: 3px solid var(--accent-blue);
}

.slider::-webkit-slider-thumb:hover {
    background-color: var(--dark-blue);
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.4);
}
